<nav class="menu">
  <div class="nav-left">
    <ul class="nav-left-list">
      <li class="nav-left-item"></li><a href="{{ get_url(path="index.html", trailing_slash=false) }}"><img class="logo" src="logo.png" alt="logo"><span class="sitename">{{ config.title }}</span></a></li>
    </ul>
  </div>
  <div class="nav-right">
    <ul class="nav-right-list">
      <li><a id="darkmodetoggle" onclick="switchTheme()"><svg class="feather"><use href="feather-sprite.svg#moon"/></svg></a></li>
      {% for link in config.extra.mensch_links %}
      <li class="nav-right-item"><a href="{{link.url}}"><svg class="feather"><use href="feather-sprite.svg#{{link.icon}}"/></svg></a></li>
      {% endfor %}
    </ul>
  </div>
</nav>